<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>TO-DO App</title>
</head>
<body>

    <h1>List of Tasks</h1>

    <button><a href="/tasks/create">Add New Task</a></button>
    <br><br>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.completed} ? 'Yes' : 'No'"></td>
            <td>
                <form th:action="@{'/tasks/delete/' + ${task.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                    <button type="submit">DELETE</button>
                </form>
                <form th:action="@{'/tasks/edit/' + ${task.id}}" method="get">
                    <button type="submit">UPDATE</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>