<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TO-DO App</title>
</head>
<body>

    <h1>List of Tasks</h1>

    <button><a href="/tasks/create">Add New Task</a></button>
    <br><br>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.completed} ? 'Yes' : 'No'"></td>
            <td>
                <form th:action="@{'/tasks/delete/' + ${task.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>